html{
    /* background-color: rgb(136, 153, 189); */
    background-color: rgb(255, 255, 255);
}
body {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(11, 43, 124);
    background-color: rgb(256, 256, 256);
    font-style: normal;
    font-size: 1.4em;
    /* font-family: 'Raleway'; */
    font-family: cursive;
    font-weight: 200;
    font-stretch: condensed;
    width: 1500px;
    text-align: left;
}

contact {
    border-color: rgb(0, 0, 0);
    background-color: rgb(256, 256, 256);
    font-style: normal;
    font-size: 1.4em;
    font-family: Candara, Constantia, Avenir Next, Palatino, Cambria, Times;
    text-align: center;
}

table {
  border-spacing: 30px;
  border: "0";
}

a.email {
    text-decoration: none;
}

a.imageanchor:link {
    color: rgb(0, 0, 0);
}
a:link {
    text-decoration: none;
    /* color: rgb(0, 51, 160); */
    color: rgb(154, 0, 0);
}
a:visited {
    text-decoration: none;
    /* color: rgb(0, 51, 160); */
    color: rgb(154, 0, 0);
}
a:hover {
    text-decoration: none;
    /* text-decoration-line: underline; */
    text-decoration-color: black;
    font-size:1.0em;
    /* color: #2596be; */
    /* background-color: burlywood */
}

ul {
    margin-top: 0ex;
    margin-left: 50px;
    padding-left: 0ex;
    margin-right: 50px;
    font-size: 1.4em;
}

h1 {
    margin-top: 0ex;
    margin-left: 30px;
    padding-left: 0ex;
    margin-right: 30px;
    font-size: 2em;
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-weight: normal;
}
/*
default
h1 is 2 em
h2 is 1.5 em
h3 is 1.3 em
h4 is 1 em
h5 is 0.8 em
h6 is 0.7 em*/


/* Style all font awesome icons */
.fa {
  padding: 5px;
  font-size: 35px;
  width: 35px;
  text-align: left;
  text-decoration: none;
  border-radius: 100%;
  margin: 5px 5px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Twitter */
.fa-twitter .fa-instagram .fa-github {
  background: white;
  color: white;
}

img {
  border-radius: 50%;
}